[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/arsen-simonyan-work/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/arsen-simonyan-work/MediaServiceCore
